-- MySQL dump 10.13  Distrib 8.4.3, for Win64 (x86_64)
--
-- Host: localhost    Database: db_merish
-- ------------------------------------------------------
-- Server version	8.4.3

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bom_details`
--

DROP TABLE IF EXISTS `bom_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bom_details` (
  `bom_recipe_id` int NOT NULL AUTO_INCREMENT,
  `item_id` int NOT NULL,
  `quantity_required` decimal(8,2) NOT NULL,
  PRIMARY KEY (`bom_recipe_id`),
  KEY `fk_bom_item` (`item_id`),
  CONSTRAINT `fk_bom_item` FOREIGN KEY (`item_id`) REFERENCES `inventories` (`item_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bom_details`
--

LOCK TABLES `bom_details` WRITE;
/*!40000 ALTER TABLE `bom_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `bom_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `extra_material_usages`
--

DROP TABLE IF EXISTS `extra_material_usages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `extra_material_usages` (
  `usage_id` int NOT NULL AUTO_INCREMENT,
  `res_id` int NOT NULL,
  `item_id` int NOT NULL,
  `qty_used` decimal(8,2) NOT NULL,
  PRIMARY KEY (`usage_id`),
  KEY `fk_extra_res` (`res_id`),
  KEY `fk_extra_item` (`item_id`),
  CONSTRAINT `fk_extra_item` FOREIGN KEY (`item_id`) REFERENCES `inventories` (`item_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_extra_res` FOREIGN KEY (`res_id`) REFERENCES `reservations` (`res_id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `extra_material_usages`
--

LOCK TABLES `extra_material_usages` WRITE;
/*!40000 ALTER TABLE `extra_material_usages` DISABLE KEYS */;
/*!40000 ALTER TABLE `extra_material_usages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventories`
--

DROP TABLE IF EXISTS `inventories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventories` (
  `item_id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(100) NOT NULL,
  `stock_qty` decimal(8,2) NOT NULL DEFAULT '0.00',
  `min_stock` decimal(8,2) NOT NULL DEFAULT '0.00',
  `unit` varchar(20) NOT NULL,
  `extra_charge_per_unit` decimal(10,2) NOT NULL DEFAULT '0.00',
  PRIMARY KEY (`item_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventories`
--

LOCK TABLES `inventories` WRITE;
/*!40000 ALTER TABLE `inventories` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `menus`
--

DROP TABLE IF EXISTS `menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `menus` (
  `menu_id` varchar(10) NOT NULL,
  `menu_name` varchar(100) NOT NULL,
  `price` decimal(10,2) NOT NULL,
  `is_available` tinyint(1) NOT NULL DEFAULT '1',
  `bom_recipe_id` int DEFAULT NULL,
  PRIMARY KEY (`menu_id`),
  KEY `fk_menus_bom` (`bom_recipe_id`),
  CONSTRAINT `fk_menus_bom` FOREIGN KEY (`bom_recipe_id`) REFERENCES `bom_details` (`bom_recipe_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `menus`
--

LOCK TABLES `menus` WRITE;
/*!40000 ALTER TABLE `menus` DISABLE KEYS */;
INSERT INTO `menus` VALUES ('M001','Test Coffee',15000.00,1,NULL),('MENU001','Kopi Espresso',35000.00,1,NULL);
/*!40000 ALTER TABLE `menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orders`
--

DROP TABLE IF EXISTS `orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orders` (
  `order_id` int NOT NULL AUTO_INCREMENT,
  `res_id` int DEFAULT NULL,
  `guest_name` varchar(100) DEFAULT NULL,
  `order_type` enum('Dine-In','Takeaway') NOT NULL DEFAULT 'Dine-In',
  `seat_id` varchar(10) DEFAULT NULL,
  `menu_id` varchar(10) NOT NULL,
  `qty` int NOT NULL,
  `payment_status` enum('Unpaid','Paid') NOT NULL DEFAULT 'Unpaid',
  `STATUS` enum('New','In Progress','Selesai') NOT NULL DEFAULT 'New',
  PRIMARY KEY (`order_id`),
  KEY `fk_orders_res` (`res_id`),
  KEY `fk_orders_seat` (`seat_id`),
  KEY `fk_orders_menu` (`menu_id`),
  CONSTRAINT `fk_orders_menu` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`menu_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_orders_res` FOREIGN KEY (`res_id`) REFERENCES `reservations` (`res_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_orders_seat` FOREIGN KEY (`seat_id`) REFERENCES `seats` (`seat_id`) ON UPDATE CASCADE,
  CONSTRAINT `chk_orders_qty` CHECK ((`qty` > 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orders`
--

LOCK TABLES `orders` WRITE;
/*!40000 ALTER TABLE `orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `promotions`
--

DROP TABLE IF EXISTS `promotions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `promotions` (
  `promo_id` int NOT NULL AUTO_INCREMENT,
  `promo_name` varchar(100) NOT NULL,
  `service_id_req` varchar(10) DEFAULT NULL,
  `menu_id_req` varchar(10) DEFAULT NULL,
  `discount_value` decimal(10,2) NOT NULL,
  PRIMARY KEY (`promo_id`),
  KEY `fk_promotions_service` (`service_id_req`),
  KEY `fk_promotions_menu` (`menu_id_req`),
  CONSTRAINT `fk_promotions_menu` FOREIGN KEY (`menu_id_req`) REFERENCES `menus` (`menu_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_promotions_service` FOREIGN KEY (`service_id_req`) REFERENCES `services` (`service_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `promotions`
--

LOCK TABLES `promotions` WRITE;
/*!40000 ALTER TABLE `promotions` DISABLE KEYS */;
/*!40000 ALTER TABLE `promotions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `redemptions`
--

DROP TABLE IF EXISTS `redemptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `redemptions` (
  `redemption_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `reward_id` int NOT NULL,
  `redemption_date` datetime NOT NULL,
  PRIMARY KEY (`redemption_id`),
  KEY `fk_redemptions_user` (`user_id`),
  KEY `fk_redemptions_reward` (`reward_id`),
  CONSTRAINT `fk_redemptions_reward` FOREIGN KEY (`reward_id`) REFERENCES `reward_catalog` (`reward_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_redemptions_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `redemptions`
--

LOCK TABLES `redemptions` WRITE;
/*!40000 ALTER TABLE `redemptions` DISABLE KEYS */;
/*!40000 ALTER TABLE `redemptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation_details`
--

DROP TABLE IF EXISTS `reservation_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation_details` (
  `detail_id` int NOT NULL AUTO_INCREMENT,
  `res_id` int NOT NULL,
  `service_id` varchar(10) NOT NULL,
  `beautician_id` int DEFAULT NULL,
  PRIMARY KEY (`detail_id`),
  KEY `fk_resdetails_res` (`res_id`),
  KEY `fk_resdetails_service` (`service_id`),
  KEY `fk_resdetails_beautician` (`beautician_id`),
  CONSTRAINT `fk_resdetails_beautician` FOREIGN KEY (`beautician_id`) REFERENCES `users` (`user_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_resdetails_res` FOREIGN KEY (`res_id`) REFERENCES `reservations` (`res_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_resdetails_service` FOREIGN KEY (`service_id`) REFERENCES `services` (`service_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation_details`
--

LOCK TABLES `reservation_details` WRITE;
/*!40000 ALTER TABLE `reservation_details` DISABLE KEYS */;
INSERT INTO `reservation_details` VALUES (1,17,'SRV001',NULL),(2,19,'SRV001',NULL);
/*!40000 ALTER TABLE `reservation_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservations`
--

DROP TABLE IF EXISTS `reservations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservations` (
  `res_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int DEFAULT NULL,
  `guest_name` varchar(100) DEFAULT NULL,
  `seat_id` varchar(10) NOT NULL,
  `companion_seat_id` varchar(10) DEFAULT NULL,
  `STATUS` enum('Pending','Confirmed','In-Service','Selesai','Canceled') NOT NULL DEFAULT 'Pending',
  `schedule_time` datetime NOT NULL,
  `is_dp_paid` tinyint(1) DEFAULT '0',
  `dp_amount` decimal(10,2) DEFAULT '0.00',
  `payment_proof_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`res_id`),
  KEY `fk_reservations_user` (`user_id`),
  KEY `fk_reservations_seat` (`seat_id`),
  KEY `fk_reservations_companion` (`companion_seat_id`),
  CONSTRAINT `fk_reservations_companion` FOREIGN KEY (`companion_seat_id`) REFERENCES `seats` (`seat_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_reservations_seat` FOREIGN KEY (`seat_id`) REFERENCES `seats` (`seat_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_reservations_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservations`
--

LOCK TABLES `reservations` WRITE;
/*!40000 ALTER TABLE `reservations` DISABLE KEYS */;
INSERT INTO `reservations` VALUES (17,2,NULL,'A1',NULL,'Pending','2026-06-01 14:00:00',0,0.00,NULL),(18,2,NULL,'A1',NULL,'Pending','2026-06-02 15:00:00',0,0.00,NULL),(19,2,NULL,'A1',NULL,'Pending','2026-06-03 16:00:00',0,0.00,NULL),(20,2,NULL,'A1',NULL,'Pending','2026-05-19 15:00:00',0,0.00,NULL);
/*!40000 ALTER TABLE `reservations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reviews` (
  `review_id` int NOT NULL AUTO_INCREMENT,
  `res_id` int NOT NULL,
  `customer_id` int NOT NULL,
  `beautician_id` int DEFAULT NULL,
  `menu_id` varchar(10) DEFAULT NULL,
  `rating` int NOT NULL,
  `COMMENT` text,
  PRIMARY KEY (`review_id`),
  KEY `fk_reviews_res` (`res_id`),
  KEY `fk_reviews_customer` (`customer_id`),
  KEY `fk_reviews_beautician` (`beautician_id`),
  KEY `fk_reviews_menu` (`menu_id`),
  CONSTRAINT `fk_reviews_beautician` FOREIGN KEY (`beautician_id`) REFERENCES `users` (`user_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_reviews_customer` FOREIGN KEY (`customer_id`) REFERENCES `users` (`user_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_reviews_menu` FOREIGN KEY (`menu_id`) REFERENCES `menus` (`menu_id`) ON UPDATE CASCADE,
  CONSTRAINT `fk_reviews_res` FOREIGN KEY (`res_id`) REFERENCES `reservations` (`res_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `chk_reviews_rating` CHECK (((`rating` >= 1) and (`rating` <= 5)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reward_catalog`
--

DROP TABLE IF EXISTS `reward_catalog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reward_catalog` (
  `reward_id` int NOT NULL AUTO_INCREMENT,
  `reward_name` varchar(100) NOT NULL,
  `points_required` int NOT NULL,
  `reward_type` enum('F&B Tier','Retail Product','Salon Service/Cashback') NOT NULL,
  `stock` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`reward_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reward_catalog`
--

LOCK TABLES `reward_catalog` WRITE;
/*!40000 ALTER TABLE `reward_catalog` DISABLE KEYS */;
/*!40000 ALTER TABLE `reward_catalog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seats`
--

DROP TABLE IF EXISTS `seats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seats` (
  `seat_id` varchar(10) NOT NULL,
  `seat_name` varchar(50) NOT NULL,
  `zone_type` enum('Active Area','Relaxation Lounge') NOT NULL,
  `qr_code_url` varchar(255) NOT NULL,
  PRIMARY KEY (`seat_id`),
  UNIQUE KEY `qr_code_url` (`qr_code_url`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seats`
--

LOCK TABLES `seats` WRITE;
/*!40000 ALTER TABLE `seats` DISABLE KEYS */;
INSERT INTO `seats` VALUES ('A1','A1','Active Area','url1'),('A2','A2','Active Area','url2'),('A3','A3','Relaxation Lounge','url3'),('B1','B1','Active Area','url4'),('B2','B2','Relaxation Lounge','url5');
/*!40000 ALTER TABLE `seats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `services`
--

DROP TABLE IF EXISTS `services`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `services` (
  `service_id` varchar(10) NOT NULL,
  `service_name` varchar(100) NOT NULL,
  `category` enum('Hair','Nails','Lashes','Wax & Eyebrows') NOT NULL,
  `base_tariff` decimal(10,2) NOT NULL,
  `est_duration` int NOT NULL,
  PRIMARY KEY (`service_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `services`
--

LOCK TABLES `services` WRITE;
/*!40000 ALTER TABLE `services` DISABLE KEYS */;
INSERT INTO `services` VALUES ('S001','Test Haircut','Hair',50000.00,30),('SRV001','Haircut','Hair',150000.00,30);
/*!40000 ALTER TABLE `services` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_profiles`
--

DROP TABLE IF EXISTS `staff_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff_profiles` (
  `profile_id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `specialization` enum('Hair Stylist','Nailist','Lash Technician','Wax & Threading Specialist','Barista') NOT NULL,
  `work_status` enum('Online','Offline') NOT NULL DEFAULT 'Offline',
  `hire_date` date DEFAULT NULL,
  PRIMARY KEY (`profile_id`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `fk_profile_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`user_id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_profiles`
--

LOCK TABLES `staff_profiles` WRITE;
/*!40000 ALTER TABLE `staff_profiles` DISABLE KEYS */;
INSERT INTO `staff_profiles` VALUES (1,2,'Hair Stylist','Online',NULL);
/*!40000 ALTER TABLE `staff_profiles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transactions`
--

DROP TABLE IF EXISTS `transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transactions` (
  `trans_id` int NOT NULL AUTO_INCREMENT,
  `res_id` int NOT NULL,
  `total_amount` decimal(12,2) NOT NULL,
  `payment_method` enum('Cash','Debit','QRIS','Transfer') NOT NULL DEFAULT 'Cash',
  `payment_date` datetime NOT NULL,
  PRIMARY KEY (`trans_id`),
  UNIQUE KEY `res_id` (`res_id`),
  CONSTRAINT `fk_transactions_res` FOREIGN KEY (`res_id`) REFERENCES `reservations` (`res_id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transactions`
--

LOCK TABLES `transactions` WRITE;
/*!40000 ALTER TABLE `transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `NAME` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `PASSWORD` varchar(255) NOT NULL,
  `ROLE` enum('Admin','Receptionist','Barista','Beautician','Customer') NOT NULL,
  `loyalty_stage` int NOT NULL DEFAULT '1',
  `total_spent` decimal(12,2) NOT NULL DEFAULT '0.00',
  `reward_points` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'bintang','bin@gmail.com','$2y$12$KKwNv/OXQZHUJI0QFvyc8OQG6x5J8szL2lhejsGT4OsXi6TBhzW42','Customer',1,0.00,0),(2,'Admin Test','admin@test.com','$2y$12$l.MrY8todUtcTAuX0S0W4e7r32WHKF47vQA30bNFY6xxx2NOs22t6','Customer',1,0.00,0);
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-24 19:55:23
